<footer class="container">
  <small>
   <!-- <a href="https://nick-myrecipes.herokuapp.com/">© n.brown 2017</a>
   or embedded Ruby-->
   <%= link_to "© n.brown 2017", 'https://nick-myrecipes.herokuapp.com/' %>
  </small>
</footer>